
<body>

<!-- Navigation -->
<nav class="navbar" id="mainNav">
  <div class="container">
    <a class="navbar-brand">Pod List</a>
    <div class="navbar-nav>
      <%= link_to "Search", podcasts_reload_path %> |
      <%= link_to "GitHub", "https://github.com/NikValdez/PodList", target: "_blank" %>
    </nav>
  <!-- Header -->
  <header class="text-center">
    <div class="container">
      <h1 class="home-title">Pod List</h1>
      <hr class="star-light">
      <%= image_tag("podlist.png", class: "home-image") %>
      <h2 class="sub-title">Easily create and share podcast playlists</h2>
    </div>
    <%= link_to "Create Playlist", podcasts_reload_path, class: "home-button" %>
  </header>
  <footer class="shared-footer">
      <div class="text-center center-block">
        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="https://github.com/NikValdez"><i id="social-gh" class="fa fa-github fa-3x social"></i></a>
        <a href="mailto:nikcochran@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
    <div class="copyright">&copy; Nik Cochran 2018</div>
  </footer>
</body>

</html>
