a:link {
  text-decoration: none;
  &:hover {
    font-size: 110%;
    color: #007bffbf;
  }
}
a {
  color: #2b2a2acf;
}

.episode-data {
  display: none;
  list-style-type: none;
  margin: 0.5em;
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 20px;
  &:hover {
    font-size: 24px;
    color: #007bffbf;
  }
}

.pcast-image {
  border-radius: 50%;
}

.tt-selectable, .tt-dataset {
  background: #fff;
  width: 250%;
  padding: 0.5em;
  color: #2b2a2acf;
  font-size: 20px;
  &:hover {
    font-size: 24px;
    color: #007bffbf;
  }
}

.btn {
  float: right;
}

.align-middle {
  margin-top: 10em;
  }

.results {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.track-name {
  font-size: 150%;
  font-weight: 600;
}

#show-episodes {
  margin-left: 3em;
}


.my-playlist {
  margin-top: 4.5em;
  margin-left: 2em;
}
.playlist-subtitle {
  margin-left: 6em;
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
}

.search-title {
  margin-top: 4em;
}

.playlist-box {
  border: 1px dashed #607986;
  margin-left: 5em;
  width: 400px;
  height: 600px;
}

.share {
  margin-bottom: 1em;
  margin-right: 5em;
}

.dropzone {
  background-color: #2196f324;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #022440;
  color: black;
  border-color: #fff;
  border-style: solid;
}

//Titles
.track-name {
  font-family: 'VT323', monospace;
}


.search-title, .my-playlist {
  font-family: 'VT323', monospace;
  font-size: 34px;
}

//font-family: 'Amatic SC', cursive;
//font-family: 'VT323', monospace;
