a:link {
  text-decoration: none;
  &:hover {
    font-size: 110%;
    color: #007bffbf;
  }
}
a {
  color: #2b2a2acf;
}

.episode-data {
  display: none;
  list-style-type: none;
  margin: 0.5em;
  &:hover {
    font-size: 110%;
    color: #007bffbf;
  }
}

.pcast-image {
  border-radius: 50%;
}

.tt-selectable, .tt-dataset {
  background: #fff;
  width: 250%;
  margin-bottom: 0.5em;
  color: #2b2a2acf;
  &:hover {
    font-size: 110%;
    color: #007bffbf;
  }
}

.btn {
  float: right;
}

.align-middle {
  margin-top: 10em;
  }

.search-title {
}

.results {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.track-name {
  font-size: 150%;
  font-weight: 600;
}

#show-episodes {
  margin-left: 3em;
}

.my-playlist {
  margin-top: 5em;
}
