.episode-data {
  display: none;
}

.pcast-image {
  border-radius: 50%;
}

.tt-selectable, .tt-dataset {
  background: #fff;
  width: 250%;
  margin-bottom: 0.5em;
  color: #2b2a2acf;
  &:hover {
    font-size: 110%;
    color: #0e0e0e;
  }
}

.btn {
  float: right;
}

.align-middle {
  margin-top: 10em;
  }

.search-title {
}

.results-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
