<div class="col-md-6 playlist">
  <h3 class="my-playlist">My Playlist</h3>
  <a href="#myModal" role="button" id="share" class="button share" data-toggle="modal">Share Playlist</a>
  <p class="playlist-subtitle">(Drag and drop to reorder and click to remove)</p>
  <div id="left1" class="playlist-box dropzone">
  </div>
</div>
<%= render 'contacts/form' %>
