<div class="col-md-6 playlist">
  <h3 class="my-playlist">My Playlist</h3>
  <button class="btn btn-primary share">Share Playlist</button>
  <p class="playlist-subtitle">(Reorder by drag and drop and click to remove)</p>
  <div id="left1" class="playlist-box dropzone">
  </div>
</div>
