<div class="col-md-6 playlist">
  <h3 class="my-playlist">My Playlist</h3>
  <button class="btn btn-primary share">Share Playlist</button>
  <p class="playlist-subtitle">(drag episodes here)</p>
  <div id="dropzone" class="playlist-box dropzone">
  </div>
</div>
