<div class="search-field">
<%= form_tag(podcasts_search_path, method: :get) do %>
  <%= label_tag(:term, "") %>
  <h3 class="search-title">Find Podcasts</h3>
  <%= text_field_tag :term, placeholder="", autofocus: true, class: "form-control typeahead" %>
  <%= submit_tag "Search", class: "button search" %>
<% end %>
</div>
